{% extends './base.html.twig' %}

{%  block title 'Accueil GSB' %}
{% block body %}
<header>
<h1 class="left"><span class="soulign">Ajouter un Medicament </span></h1>
</header>

<main>
    {{ form_start(form) }}
    <label class="label">
        {{ form_label(form.medNomcommercial, 'Nom Commercial') }}
        {{ form_(form.medNomcommercial) }}
    </label>

    {{ form_end(form) }}



</main>
</div>
{% endblock %}