{% extends './base.html.twig' %}

{%  block title 'Accueil GSB' %}
{% block body %}
<head>
<h1 align="left" class="left"><span class="soulign">Ajouter un Medicament </span></h1>
</head>

    <form method="post" action="{{ path('ajout_medicament') }}">
        
        <label>Nom commercial</label>
        <input name="nom_commercial" type="text">

        <label>Prix</label>
        <input name="prix" type="number">

        <label>Composition</label>
        <input name="composition" type="text">

        <label>Médicament non conseillé</label>
        <input name="mnc" type="text">

        <label>Image</label>
        <input type="file" multiple="multiple" name="fichier"  />

        <label>Effets</label>
        <input name="effet" type="text">

        <label>Code Famille</label>
        <input name="codefamille" type="text">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('addMedoc') }}"/>

        <input type="submit">

    </form>

</div>
{% endblock %}