{% extends './base.html.twig' %}

{%  block title 'Accueil GSB' %}
{% block body %}

    <br class="'jumbotron text-center">
        <h1><span class="soulign ">Nos Médicaments </span></h1></br>

        <h2><span class="soulign ">Médicaments non conseillé</span></h2>

    </div>
{% endblock %}