{% extends './base.html.twig' %}

{%  block title 'tout nos biens' %}
{% block body %}

    <div class="'jumbotron text-center">
        <h1> Voir tout nos biens</h1>
        <p>page de test</p>

    </div>
{% endblock %}