{% extends './base.html.twig' %}

{%  block title 'Accueil GSB' %}
{% block body %}

    <h1><div><span class="soulign">Nos Médicaments </span></div></h1>
    <div class="liste">
        {% for Medicament in Medicament  %}
        <div class="medicament">
            <img src="{{ asset('assets/image/image.svg') }}">
            <div>{{Medicament.medNomcommercial}}</div>
            <div>{{Medicament.medDepotlegal}}</div>
            <div>{{Medicament.medPrixechantillon}}</div>
        </div>
        {% endfor %}
        <div class="boutonAjout"><a href="/ajoutMedicament">+ </div> </a></div>
    </div>
    </div>

{% endblock %}