{% extends 'base.html.twig' %}

{% block body %}
<div class="liste">
            {% for Medicament in Medicament  %}
    <div class="medicament">
        <div>{{Medicament.medNomcommercial}}</div>
        <div>{{Medicament.medDepotlegal}}</div>
        <div>{{Medicament.medPrixechantillon}}</div>
    </div>


</div>
{% endblock %}