{% extends './base.html.twig' %}

{%  block title 'Accueil GSB' %}
{% block body %}

    <h1><div><span class="soulign">Prescription</span></div></h1>

    <h2><span class="soulign">Coucou</span></h2>

    </div>
{% endblock %}