{% extends './base.html.twig' %}

{%  block title 'Accueil GSB' %}
{% block body %}

    <h1><div><span class="soulign">Prescription</span></div></h1>

    <label for="medoc-select">Choose a drug : </label>

    <select name="medoc" id="medoc-select">
        <option value="">-- Please choose an option --</option>
        <option value="Cod">Codéine</option>
        <option value="Para">Paracétamole</option>
        <option value="Morph">Morphine</option>
        <option value="Cort">Cortisol</option>
    </select>


    </div>
{% endblock %}