{% extends 'base.html.twig' %}

{% block title %}Hello AjoutTabMaladieController!{% endblock %}

{% block body %}
<link rel="stylesheet" href={{ asset('assets/css/style_john.css') }}

    <h2><div><span class="soulign">Voici le tableau contenant le code et les noms de maladies </span></div></h2>
    <table>
        <tr>
            <th>Code maladie</th>
            <th>Nom maladie</th>

        </tr>
        <tr>
            <td>bla</td>
            <td>Bla</td>
        </tr>
        <tr>
            <td>bla</td>
            <td>Bla</td>
        </tr>
        <tr>
            <td>bla</td>
            <td>Bla</td>
        </tr>

        <td rowspan="2">Prescrire</td>
    </table>

    <p>Si vous souhaitez revenir à la page d'accueil cliquez <a href="">ICI</a> </p>

   <ul>
        <li>Mon controlleur c <code><a href="{{ 'C:/Users/jonat/Documents/GitHub/bts-alt-g2-2021/src/Controller/AjoutTabMaladieController.php'|file_link(0) }}">src/Controller/AjoutTabMaladieController.php</a></code></li>
        <li>Mon template c <code><a href="{{ 'C:/Users/jonat/Documents/GitHub/bts-alt-g2-2021/templates/ajout_tab_maladie/index.html.twig'|file_link(0) }}">templates/ajout_tab_maladie/index.html.twig</a></code></li>
    </ul>


{% endblock %}
