@font-face {
    font-family: 'Monotype Corsiva';
    src: url('../fonts/monotype-corsiva.ttf');
}


html, body{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-sherif;
}



/*
attribut du menu
 */
.menu{

    height: 100%;
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    margin-right: 70px;
    margin-left: 70px;
}

.navbar-l{
    margin-left: 70px;
    font-size: 2em;
}

.navbar-titre {
    margin-right: auto;
    font-family: "Monotype Corsiva", serif;
    text-transform: uppercase;
    font-size: 4em;
}

nav{
    height: 112px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.13);
}
nav a {
    text-decoration: none;
    color: #003f82;
}

h1, h2{
    font-size: 3.5em;
    text-align: center;
}

.soulign {
    color: #003f82;
}

.soulign::after{
    margin: auto;
    display: block;
    position: relative;
    content: " ";
    height: 5px;
    width: 20vw;
    background: linear-gradient(to right, #00b7ed 36%, #003f82 84%);
}

h1 .soulign::after{
    width: 30%;
}

/* Button menu */

.a-spe{
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 0;
    background: #01b4e9;
    border: solid 1px white;
    border-radius: 40px;
    overflow: hidden;
}

.navbar-bordure{
    display: block;
    padding: 20px 40px;
    color: white;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2;
}

.navbar-bordure:after {
    z-index: -1;
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to left,#003f82,#00b7ed 55%);
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-bordure:hover,
.navbar-bordure:active {
    color: white;
}

.navbar-bordure:hover:after,
.navbar-bordure:active:after{
    width: 100%;
}



/*
linear-gradient(to left,#003f82,#00b7ed 55%)
 */