{% extends 'base.html.twig' %}

{% block title %}Individus{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Types d'individus</h1>

    {% for TypeIndividu in controller_name %}
    <div class="row">
        <div class="col-6 col-sm-3"></div>
        <h4>{{ TypeIndividu.tinLibelle}}</h4>

    </div>
    {% endfor %}
</div>
{% endblock %}
