{% extends 'base.html.twig' %}

{% block title %}Hello AjoutTabMaladieController!{% endblock %}

{% block body %}
<link rel="stylesheet" href={{ asset('assets/css/style_john.css') }}


<h1><div><span class="soulign">P</span></div></h1>
    <h1><div><span class="soulign">Voici le tableau contenant le code et les noms des médicaments</span></div></h1>


    <table>
        <thead>
         <tr>
            <th>Code medicament</th>
            <th>Nom medicament</th>
             <th>Prix du médicament</th>
                <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for med in medicaments %}
        <tr>
            <td align="center">{{ med.medNomcommercial }}</td>
            <td align="center">{{ med.medPrixechantillon }} &euro</td>
          <!--  <td align="center"><a href={{ path('modifier_medicament', {id: med.medDepotlegal}) }}><button type="button" >modifier </button> </a></td> -->
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Si vous souhaitez revenir à la page d'accueil cliquez <a href="">ICI</a> </h3>

{% endblock %}
