<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block title %}<u>Nos Medicaments</u>{% endblock %}</title>
    <link rel="stylesheet" href={{ asset('assets/css/style_daniel.css') }}

    {% block stylesheets %}{% endblock %}
</head>
<body>
<!-- contenu principale de la page menu-titre etc.. -->

<header>
<nav>
    <ul class="menu">
        <li class="navbar-titre"><a  href="#" >gsb</a></li>
        <li class="navbar-l"><a href="#" >Prescription</a></li>
        <li class="navbar-l"><a href="#" >Client</a></li>
        <li class="navbar-l"><a class="navbar-bordure" href="#" >Nos Médicaments</a></li>

    </ul>
</nav>
</header>
<!-- structure principale de la page -->
<main>

</main>

<footer>

</footer>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
