<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{% block title %}<u>Nos Medicaments</u>{% endblock %}</title>
    <link rel="stylesheet" href={{ asset('assets/css/style_daniel.css') }}
    <link rel="stylesheet" href={{ asset('assets/css/style_tuani.css') }}
    <link rel="stylesheet" href={{ asset('assets/css/style_john.css') }}

    {% block stylesheets %}{% endblock %}
</head>
<body>
<!-- contenu principale de la page menu-titre etc.. -->

<header>
<nav>
    <ul class="menu">
        <li class="navbar-titre"><a  href="#" >gsb</a></li>
        <li class="navbar-l"><a href="/controller/prescription" >Prescription</a></li>
        <li class="navbar-l"><a href="#" >Client</a></li>
        <li class="li-spe navbar-l"><a class="a-spe" href="#" ><span class="navbar-bordure" >Nos Médicaments</span></a></li>

    </ul>
</nav>
</header>
<!-- structure principale de la page -->


{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
